
html {
  color-scheme: dark;
}

.button-delete {
  background: darkred !important;
}

.button-small {
  font-size: 0.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

.section{
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://sortitoutsi.net/uploads/media/UawOkgM9Ht3jAqXUMnYhuTd9Xo6gvZjgsfpPjxtY.jpg");
}

.navbar {
  color: black;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navbar-brand img {
  max-height: 150px;
  margin: 0 auto;
  display: block;
}

.header {
  display: inline;
}

.carrito {
  margin-left: 48%;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  color: black;
  padding: 2rem;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}


.resultado{
  color: #fff;
}
.mi-bloque {
  background-color: #000;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  box-shadow:10px 6px 6px rgba(1, 1, 1, 0.221);
  width: 100%;
  padding: 20px 20px 0px;

}

.tituloBienvenida {
  text-align: center;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  background-color: black;
  color: white;
  text-shadow: 2px 2px 4px red;
}

.tituloAbonos {
  text-align: center;
  margin-left: 2rem;
  margin-bottom: 2rem;
  background-color: black;
  color: white;
  text-shadow: 2px 2px 4px red;
}

input#filterAbonos:focus {
  border-color: red;
  color: white;
}

.barra-busqueda {
  border: solid 2px black;
  margin: 20px;
}

.container-card {
display: grid;
grid-template-columns: auto auto auto;
}

.abonos2023 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.card-abonos {
  margin: 10px;
  margin-bottom: 40px;
  padding: 2px;
  text-align: center;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  box-shadow: 10px 6px 6px rgba(3, 3, 3, 0.221);
  width: 200px;
  height: 250px;
  background-color: white;
}

.card-abonos:hover {
  background-color: white;
  transition: 0.5s ease-in;
  box-shadow: 5px 20px 60px rgba(213, 4, 4, 0.519);
}

.card-abonos div.nombre {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  display: block;
  width: 1fr;
}

.card-abonos div.importe {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  display: block;
  width: 1fr;
}

.botonDeTarjetas {
  background-color: rgb(2, 2, 2);
  border-color: black;
  margin-top: 20px;
}

.botonDeTarjetas:hover {
  background-color: rgb(202, 31, 12);
  color: whitesmoke;
  border-color: black;
}

.botonDeTarjetas:active {
  background-color: black;
  color: whitesmoke;
  border-color: black;
}

.card-error {
  box-shadow: 0px 6px 20px rgba(255, 0, 0, 0.147);
  border: 1px solid darkred;
  border-radius: 6px;
  padding: 40px;
  color: red;
}

.btn-checkout {
  margin-left: 47%;
  margin-top: 10px;
  display: flex;
  padding: 10px;
  height: 40px;
  width: 80px;
}

.btn-checkout img {
  width: 80px;
  height: 60px;
}

thead tr {
  background-color: rgb(229, 7, 7);
  color: white;
}

#tablehead {
  padding: 10px;
}
table td{
  color: white;
}
tbody tr:nth-child(even) {
  background: rgba(243, 3, 3, 0.252) !important;
}

.boton-vuelta,
.boton-de-compra,
.boton-eliminar {
  margin-left: 30%;
  width: 200px;
  text-align: center;
  background-color: red;
  outline: auto;
  margin-top: 10px;
}

.boton-vuelta:hover,
.boton-de-compra:hover,
.boton-eliminar:hover {
  background-color: red;
}

.enlace-boton-vuelta {
  color: white;
}

.enlace-boton-vuelta:hover {
  color: white;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


input[type="checkbox"]{
    transform: scale(1.5);
}
label{
   display: inline-block;
   vertical-align: middle;
   line-height: normal;
}


